/*
  GENERAL STYLINGS
*/

html {
  font-family: $main-font;
  color: $copy-color;
}

header {
  padding: $padding;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

h1 {
  background-color: $white;
  color: $blue;
  font-size: $title-size;
  margin-bottom: 0;
}

h2 {
  color: $blue;
  font-size: $sub-title-size;
  padding: 1em 0;
}

h3 {
  font-size: $button-size;
}

a {
  text-decoration: none;
  color: $black;
  padding: 0 0.2em 0;

  &:hover {
    color: $blue;
    border-bottom: solid;

  }
  &:active {
    border-bottom: solid;
  }
}
a.special {
  color: $white;
}
a.normal {
  color: $blue;

  &:hover {
    border-bottom: none;
    color: $blue-hover;
    transition: 0.4s;
  }
}
li {
  display: inline-block;
}

/*
  FIRST SECTION
*/

section#banner {
  background:
    url('images/front_keyboard.jpg')
    no-repeat;
  background-size: cover;
  height: 320px;

  article {
    color: $blue;
    padding:2em;
    width: 50%;
    float: right;
    span {
      display: inline;
      background: $white;
      font-size: $title-size;
      line-height: 1.5em;
    }

    button {
      margin-top: 0.5em;
      padding:0.5em 0.2em;
      background-color: $blue;
      border:none;
      color: $white;
      font-family: $main-font;
      font-size: $button-size;
      border-radius: $border-radius;
      cursor: pointer;
      display: flex;

      &:hover {
        background-color: $blue-hover;
      }
    }
  }
}

/*
  SECOND SECTION
*/

section.main {

  article {
    padding: 1.5em 0.5em;

    div {
      border-radius: $border-radius;
    }
  }

  div#wrapper {
    display: flex;
    justify-content: space-around;

    div {
      cursor: pointer;
      width: 30%;
      background-color: $gray;
      padding: 2em;
      &:hover{
        background-color: $gray_hover;
      }

      h3 {
        display: flex;
        justify-content: center;
        padding: 1em 0;
        color: $blue;
      }
      img {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      p.post {
        font-family: $block-font;
        line-height: 1.5em;
      }
      p.post:after {
        font-weight: bold;
        content: 'Lesen Sie mehr...';
      }
    }
  }
}

footer {
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: $blue;
  height: 60px;

  h3 {
    color: $white;
  }
}

p {
  padding-bottom: $padding;
}

/*
 MEDIA QUERIES
 */

@media only screen and (max-width: 650px) {
  header {
    background-color: $white;
    position: fixed;
    width:100%;
    transition: height 2s;
    max-height: 500px;

    nav {
      display: inline-block;

      a#burger-menu {
        display: block;
        float: right;
        cursor: pointer;
        border-bottom: none;

        .row1, .row2, .row3 {
          width: 35px;
          height: 5px;
          background-color: $blue;
          margin: 6px 0;
          border-radius: 5px;
          transition: 0.4s;

        }

        .row1.change {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
          transform: rotate(-45deg) translate(-9px, 6px) ;
        }

        .row2.change {
          opacity: 0;
        }

        .row3.change {
          -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
          transform: rotate(45deg) translate(-8px, -8px) ;
        }

      }

      a#burger-menu:hover {

        .row1, .row2, .row3 {
          background-color: $blue-hover;
        }

      }

      ul {
        display: none;
        margin: 2.5em 0;

        li {
          display: block;
          text-align: right;
          line-height: 1.5em;

          font-size: $button-size;

        }
      }
    }
  }

  section#banner {
    padding-top: 8em;
    height: 420px;
    article {
      padding:1em;
      width: 50%;
      span {
        font-size: 1.5em;
        line-height: 1.5em;
      }
      button{
        font-size: 1em;
      }
    }
  }


  section.main {
    article {
      div#wrapper {
        display: block;
        text-align: center;
        div {
          width: 80%;
          margin: 5vh auto;
        }
        img {
          display: inline-block;
        }
      }
    }

  }

}
