html {
  font-family: $main-font;
  color: $copy-color;
}

header {
  padding: $padding;
}

a {
  background-color: $white;
  color: $blue;
  font-size: 2.5em;
  padding: .5 * $padding;
}

ul {
  float: right;
}
li {
  display: inline-block;
}

div#banner {
  background:
          url('images/front_keyboard.jpg')
          no-repeat;
  background-size: cover;
  height: 350px;
}

p {
  padding-bottom: $padding;
}
