html {
  font-family: $main-font;
  color: $copy-color;
}

header {
  padding: $padding;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

h1 {
  background-color: $white;
  color: $blue;
  font-size: $title-size;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: $black;
  padding: 0 0.2em 0;

  &:hover {
    color: $blue;
    border-bottom: solid;

  }
  &:active {
    border-bottom: solid;
  }
}
li {
  display: inline-block;
}

section#banner {
  background:
    url('images/front_keyboard.jpg')
    no-repeat;
  background-size: cover;
  height: 320px;

  article {
    color: $blue;
    padding:2em;
    width: 50%;
    float: right;
    span {
      display: inline;
      background: $white;
      font-size: $title-size;
      line-height: 1.5em;
    }

    button {
      margin-top: 0.5em;
      padding:0.5em 0.2em;
      background-color: $blue;
      border:none;
      color: $white;
      font-family: $main-font;
      font-size: $button-size;
      border-radius: 0.1em;
    }
  }
}

p {
  padding-bottom: $padding;
}
