@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

// LAYOUT
$padding: .5em;

// BREAKPOINTS

// COLORS
$primary-color: #99bf0d;
$white : #FFFFFF;
$blue: #009EE0;
$gray: #f6f6f6;
$black: #000;
$copy-color: #333;
$yellow: #fae005;

//FONTS
$main-font: 'Roboto Slab', serif;
$title-size: 2.5em
$button-size: 2em;
