@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Barlow);

// LAYOUT
$padding: .5em;

// BREAKPOINTS

// COLORS
$primary-color: #99bf0d;
$white : #FFFFFF;
$blue: #009EE0;
$gray: #f6f6f6;
$black: #000;
$copy-color: #333;
$yellow: #fae005;
$blue-hover: #0072A2;
$gray_hover: #d6d6d6;
// FONTS & SIZES
$main-font: 'Roboto Slab', serif;
$block-font: 'Barlow', sans-serif;
$title-size: 2.5em;
$button-size: 1.5em;
$sub-title-size: 2em;

// BORDERS
$border-radius: 0.2em;
