@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

// LAYOUT
$padding: 1em;

// BREAKPOINTS

// COLORS
$primary-color: #99bf0d;
$white : #FFFFFF;
$blue: #009EE0;
$gray: #f6f6f6;
$copy-color: #333;
$yellow: #fae005;

//FONTS BY GOOGLE
$main-font: 'Roboto Slab', serif;
