*, *:after, *:before {
  box-sizing: border-box;
}

.max-width-container {
  width: 100%;
  padding: 0 $padding;
}

.container {
  width: 100%;
  max-width: 80em;
  margin: 0 auto;
  position: relative;
}

.grid {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding-right: $padding;
  .grid &:last-of-type {
    padding-right: 0;
  }
}

@mixin col-single-column {
  [class*='col-'] {
    display: block;
    width: 100% !important;
    float: none;
    padding-right: 0;
  }

  .col-1 {
    padding-bottom: $padding;
  }
}
