/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Barlow);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

html, body, button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.hidden {
  display: none !important;
  visibility: hidden; }

/*
  GENERAL STYLINGS
*/
html {
  font-family: "Roboto Slab", serif;
  color: #333; }

header {
  padding: 0.5em;
  display: flex;
  justify-content: space-between; }

nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
  nav ul {
    display: block;
    opacity: 1; }
    nav ul li {
      display: inline-block; }

h1 {
  background-color: #FFFFFF;
  color: #009EE0;
  font-size: 2.5em;
  margin-bottom: 0; }

h2 {
  color: #009EE0;
  font-size: 2em;
  padding: 1em 0; }

h3 {
  font-size: 1.5em; }

a {
  text-decoration: none;
  color: #000;
  padding: 0 0.2em 0; }
  a:hover {
    color: #009EE0;
    border-bottom: solid; }
  a:active {
    border-bottom: solid; }

a.special {
  color: #FFFFFF; }

a.normal {
  color: #009EE0; }
  a.normal:hover {
    border-bottom: none;
    color: #0072A2;
    transition: 0.4s; }

/*
  FIRST SECTION
*/
section#banner {
  background: url("images/front_keyboard.jpg") no-repeat;
  background-size: cover;
  height: 320px; }
  section#banner article {
    color: #009EE0;
    padding: 2em;
    width: 50%;
    float: right; }
    section#banner article span {
      display: inline;
      background: #FFFFFF;
      font-size: 2.5em;
      line-height: 1.5em; }
    section#banner article button {
      margin-top: 0.5em;
      padding: 0.5em 0.2em;
      background-color: #009EE0;
      border: none;
      color: #FFFFFF;
      font-family: "Roboto Slab", serif;
      font-size: 1.5em;
      border-radius: 0.2em;
      cursor: pointer;
      display: flex; }
      section#banner article button:hover {
        background-color: #0072A2; }

/*
  SECOND SECTION
*/
section.main article {
  padding: 1.5em 0.5em; }
  section.main article div {
    border-radius: 0.2em; }

section.main div#wrapper {
  display: flex;
  justify-content: space-around; }
  section.main div#wrapper div {
    cursor: pointer;
    width: 30%;
    background-color: #f6f6f6;
    padding: 2em; }
    section.main div#wrapper div:hover {
      background-color: #d6d6d6; }
    section.main div#wrapper div h3 {
      display: flex;
      justify-content: center;
      padding: 1em 0;
      color: #009EE0; }
    section.main div#wrapper div img {
      display: flex;
      justify-content: center;
      width: 100%; }
    section.main div#wrapper div p.post {
      font-family: "Barlow", sans-serif;
      line-height: 1.5em; }
    section.main div#wrapper div p.post:after {
      font-weight: bold;
      content: 'Lesen Sie mehr...'; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009EE0;
  height: 60px; }
  footer h3 {
    color: #FFFFFF; }

p {
  padding-bottom: 0.5em; }

/*
about
*/
section#about {
  background: url("images/icons/user.svg") no-repeat;
  background-size: 320px;
  background-position: center;
  width: 100%;
  height: 320px;
  margin: 30px; }

section article {
  padding: 20vh;
  color: #009EE0; }

/*
 MEDIA QUERIES
 */
@media only screen and (max-width: 720px) {
  section#banner {
    padding-top: 2em;
    height: 420px; }
    section#banner article {
      padding: 1em;
      width: 50%; }
      section#banner article span {
        font-size: 2.5em;
        line-height: 1.5em; }
      section#banner article button {
        font-size: 1.5em; }
  section#about {
    background: url("images/icons/user.svg") no-repeat;
    background-size: 320px;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin: 0; }
  section article {
    padding: 3em;
    color: #009EE0; } }

@media only screen and (max-width: 640px) {
  header {
    background-color: #FFFFFF;
    border-bottom: solid 3px #009EE0;
    position: fixed;
    width: 100%; }
    header nav {
      display: inline-block;
      height: 41px;
      transition: height .8s ease; }
      header nav a#burger-menu {
        display: block;
        float: right;
        cursor: pointer;
        border-bottom: none; }
        header nav a#burger-menu .row1, header nav a#burger-menu .row2, header nav a#burger-menu .row3 {
          width: 35px;
          height: 5px;
          background-color: #009EE0;
          margin: 6px 0;
          border-radius: 5px;
          transition: 0.4s; }
        header nav a#burger-menu .row1.change {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px); }
        header nav a#burger-menu .row2.change {
          opacity: 0; }
        header nav a#burger-menu .row3.change {
          -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px); }
      header nav a#burger-menu:hover .row1, header nav a#burger-menu:hover .row2, header nav a#burger-menu:hover .row3 {
        background-color: #0072A2; }
      header nav ul {
        margin: 2.5em 0;
        transition: opacity 0.4s;
        opacity: 0; }
        header nav ul li {
          display: block;
          text-align: right;
          line-height: 1.5em;
          font-size: 1.5em; }
  section#banner {
    padding-top: 6em;
    height: 420px; }
    section#banner article {
      padding: 1em;
      width: 50%; }
      section#banner article span {
        font-size: 1.9em;
        line-height: 1.5em; }
      section#banner article button {
        font-size: 1.1em; }
  section.main article div#wrapper {
    display: block;
    text-align: center; }
    section.main article div#wrapper div {
      width: 80%;
      margin: 5vh auto; }
    section.main article div#wrapper img {
      display: inline-block; }
  footer {
    background-color: #009EE0;
    height: 60px; }
    footer h3 {
      color: #FFFFFF;
      font-size: 1em; } }

*, *:after, *:before {
  box-sizing: border-box; }

.max-width-container {
  width: 100%;
  padding: 0 0.5em; }

.container {
  width: 100%;
  max-width: 80em;
  margin: 0 auto;
  position: relative; }

.grid:after {
  content: '';
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  padding-right: 0.5em; }
  .grid [class*='col-']:last-of-type {
    padding-right: 0; }
